# quality of life
alias df='df -h'
alias ls='ls -F --color=auto'
alias grep='grep --color=auto'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
# custom
alias gg='lazygit'
alias ga='git add'
alias gc='git commit -m'
alias gl='git log --oneline --graph --decorate'
alias gla='gl --all'
alias gp='git push'
alias gs='git status'

alias l='ls -l'
alias la='ls -A'
alias ll='ls -lhA'
alias v='nvim'
alias tm='tmux new -A -s default'
alias tn='tmux new -A -s'
alias ta='tmux attach -t'
alias tl='tmux ls'
alias tks='tmux kill-session -t'
alias tkS='tmux kill-server'
