alias gg='lazygit'
alias ls='ls -F --color=auto'
alias l='ls -1'
alias la='ls -A'
alias ll='ls -lhA'
alias po='poweroff'
alias py='python3'
alias v='nvim'
alias tm='tmux new -A -s default'
alias tn='tmux new -A -s'
alias ta='tmux attach -t'
alias tl='tmux ls'
alias tks='tmux kill-session -t'
alias tkS='tmux kill-server'
